<div class="container ">

  <div class="row">
    <h1>  Announcement</h1>
  </div>


  <div *ngIf="Data.length > 0; else elseBlock">


  <div class="row">
  <mat-card *ngFor="let Obj of Data" class="example-card">
    <mat-card-title>{{Obj?.labelName}}</mat-card-title>
    <mat-card-subtitle>{{Obj?.publishDateTime | date:'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{Obj?.messageBody}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <span> Publisher is : {{Obj?.insertUserName}} </span> 
    </mat-card-actions>
  </mat-card>
  
  </div>

  <div class="row">
    <mat-paginator [length]="page.totalElements"
    [pageSize]="5"
    [pageSizeOptions]="[2,5, 10, 25, 100]"
    (page)="paginatorEvent = getServerData($event)">
  </mat-paginator>
  </div>  
</div>
<ng-template #elseBlock>
  <h1 class=" text-center m-auto d-block EmptyDataArea text-danger" >
    The is no  Announcments For You Until Now 
  </h1>
</ng-template>
</div>

