/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[LabelName]
     ,GroupId
      ,[PublishDateTime]

  FROM [NTA_TASK].[dbo].[Announcements]



  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[Name]
  FROM [NTA_TASK].[dbo].[UserGroups]

