<div class="container ">

  <div class="row">
    <h1>  
      Magic Tools
    </h1>
  </div>



  <div *ngIf="Data.length > 0; else elseBlock">
    <div class="row">
      <mat-card *ngFor="let Obj of Data" class="example-card col-4 mx-auto">
        <mat-card-title>{{Obj?.systemName}}</mat-card-title>
        <mat-card-content>
          <button class="My_Btn"
          mat-raised-button
          (click)="RedirectToSysten(Obj)">Redirect to System</button>
        </mat-card-content>
        <mat-card-actions align="end">
          <span> Publisher is : {{Obj?.insertUserName}} </span> 
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-paginator [length]="page.totalElements" [pageSize]="5" [pageSizeOptions]="[2,5, 10, 25, 100]"
    (page)="paginatorEvent = getServerData($event)">
  </mat-paginator>
  </div>
<ng-template #elseBlock>
  <h1 class=" text-center m-auto d-block EmptyDataArea text-danger" >
    The is no  Magic Tools For You Until Now 
  </h1>
</ng-template>


  

</div>

