.app.indigo-light .mat-expansion-panel-header-title {
  background: #00796b !important;
  color: white !important;
  display: block;
  text-align: center !important;
}

[dir=ltr] .mat-expansion-panel-header-title,
[dir=ltr] .mat-expansion-panel-header-description {
  margin-right: 0;
  margin-left: 16px;
  max-width: 208px !important;
  padding: 5px 10px;
  text-align: center !important;
  margin-top: 5px !important;
}

.app.indigo-light .mat-tab-label,
.app.indigo-light .mat-tab-link {
  background: #00796b !important;
  color: white !important;
  font-weight: bold;
  margin-right: 3px;
}

.mat-form-field-label-wrapper {
  font-size: large;
  font-weight: bold;
  color: gray;
}

.mat-form-field-infix {
  font-size: large;
  font-weight: bold;
  color: black;
}

.mat-cell,
.mat-footer-cell {
  font-size: 0.8rem;
  font-weight: bold;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  text-align: left !important;
}

.user-search .mat-input-element {
  text-align: left !important;
  /* color: white; */
}

.app.indigo-light .mat-header-cell {
  background-color: #afa2a2;
}

.menu-item ng-star-inserted {
  background-color: #00796b;
}

.mat-ripple .mat-tab-label,
.ng-star-inserted .mat-tab-label-active {
  opacity: 1;
}

.mat-paginator-range-label {
  direction: ltr;
}

.app.indigo-light .mat-toolbar .mat-input-element {
  color: black;
  background-color: white;
}

.w-100 {
  width: 100%;
}

body {
  font-family: 'Covered By Your Grace', cursive;
  line-height: 1.25;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 5;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid black;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 10;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-row:nth-child(even) {
    background: #CCC;
  }

  .mat-table .mat-row:nth-child(odd) {
    background: #FFF;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid black;
    display: block;
    font-size: 0.8rem;
    text-align: right;
    /* font-weight: bold; */
    /* height: 30px; */
    height: auto;
    margin-bottom: 6%;
    padding: 15px;
  }

  .mat-table .mat-cell:before {
    /*
       * aria-label has no advantage, it won't be read inside a table
       content: attr(aria-label);
       */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.5em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 1;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    /*
       .mat-table .mat-row:nth-child(even) {background: #CCC}
       .mat-table .mat-row:nth-child(odd) {background: #FFF}
       */
  }

  .mat-table .mat-cell {
    border-bottom: 5px solid #ddd;
    display: block;
    text-align: left;
    font-size: 0.8em;
    text-align: left;
    height: auto;
    /* font-weight: bold; */
    /* height: 30px; */
    margin-bottom: 1%;

  }

  .mat-table .mat-cell:before {
    /*
       * aria-label has no advantage, it won't be read inside a table
       content: attr(aria-label);
       */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

.mat-form-field-flex {
  height: 0px;
}

.clickable:hover {
  background-color: #ece7dc !important;
}

.clickable2:hover {
  cursor: pointer;
  background-color: #ece7dc !important;
}

.MyTitleParam {
  border-radius: 20px;
  background: #ebebeb;
  margin-bottom: 10px;
  margin-top: 15px;
  background: slategray;
  color: aliceblue;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 1.2rem;
}

.mat-ripple .mat-tab-label,
.ng-star-inserted .mat-tab-label-active {
  background-color: #00796b;
  color: #FFF !important;
}

.app.teal-light .mat-tab-group.mat-primary .mat-ink-bar,
.app.teal-light .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FFF !important;
}



[dir=ltr] mat-cell:first-of-type:not(:only-of-type),
[dir=ltr] mat-header-cell:first-of-type:not(:only-of-type),
[dir=ltr] mat-footer-cell:first-of-type:not(:only-of-type),
[dir=ltr] mat-cell:last-of-type:not(:only-of-type),
[dir=ltr] mat-header-cell:last-of-type:not(:only-of-type),
[dir=ltr] mat-footer-cell:last-of-type:not(:only-of-type) {
  padding-left: 15px !important;
  padding-right: 15px !important;
}


.mat-header-cell {

  background: #00796b;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
}



.mat-paginator {
  display: block;
  box-shadow: 0px 2px 4px -1px;
  width: 100%;
}


.mat-table {
  margin-top: 20px;
}


.user-toolbar {
  background: transparent !important;
  height: 40px;
  margin-top: -10px !important;
}


.facursor {
  cursor: pointer;
}

/* Search in Table  */

.users-wrapper {
  position: relative;
  min-height: 150px;
}

.user-toolbar {
  background: transparent !important;
  height: 40px;
  margin-top: -40px;
}

.user-details {
  position: relative;
}

.user-details .user-name {
  font-weight: 400;
  text-transform: uppercase;
}

.user-content .more-btn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.user-content .user-img {
  position: relative;
  text-align: center;
}

.user-content .user-img .social-icons a {
  color: black;
}

.user-content .user-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.user-content .user-img img.blocked {
  opacity: 0.5;
}

.user-content .user-img .mat-icon.block-icon {
  position: absolute;
  top: -8px;
  left: -8px;
  font-size: 96px;
  height: 96px;
  width: 96px;
}

.user-content .info-list {
  position: relative;
}

.user-content .info-list span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
}

.user-content .info-list p {
  padding: 2px 0;
}

.user-content .info-list p:first-child {
  padding-top: 8px;
}

.user-content .info-list p:last-child {
  padding-bottom: 8px;
}

.user-content .info-list.blocked {
  opacity: 0.5;
}

.user-search {
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  font-size: 14px;
  box-shadow: 0px 0px 2px 0px black;
}

.user-search .mat-form-field {
  width: 100% !important;
  text-align: center !important;
  height: 36px;
}

.user-search .mat-form-field-infix {
  padding: 5px;
  width: 100px;
}

.user-search .mat-input-element {
  text-align: center;
}

.user-search.show {
  width: 100%;
  overflow: visible;
}

.user-spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
}


.mat-horizontal-content-container {
  overflow: scroll;
  padding: 0px 0px 0px 24px;
  /* margin-left: 0px; */
  padding-left: 10px;
}