
<div class="LoginContainer container">
  <div class="row ">
    <div class="col-12 text-right ">
      <h1>
        Welcome  : {{fullname}}
            </h1>
    </div>
    <div class="container-fluid  d-flex align-items-center p-lg-0">
      <div class="col-12 mx-auto signin">

        <div class="W-100 ">
          <div class="container-fluid FixBottomBlock_login p-0">
            <div class=" row  ">
              <button type="submit" (click)="RedirectToUserHome()" 
              class="btn col-md-5 col-sm-12 col-12 clickbtn d-block mx-auto btn-primary
               mt-5 ">Go Home </button>
            </div>
      </div>
    </div>

      </div>
    </div>
  </div>
</div>