<div class="container ">

  <div class="row">
    <h1> New 
      Stories
    </h1>
  </div>

  <div class="row">
  <mat-card *ngFor="let Obj of Data" class="example-card">
    <mat-card-title>{{Obj?.header}}</mat-card-title>
    <mat-card-subtitle>{{Obj?.publishDateTime | date:'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{Obj?.body}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <span> Publisher is : {{Obj?.insertUserName}} </span> 
    </mat-card-actions>
  </mat-card>
  
  </div>


  <div class="row">
    <mat-paginator [length]="page.totalElements"
    [pageSize]="5"
    [pageSizeOptions]="[2,5, 10, 25, 100]"
    (page)="paginatorEvent = getServerData($event)">
  </mat-paginator>
  </div>
    
</div>

